In [ ]:
https://www.geeksforgeeks.org/find-all-combinations-that-adds-upto-given-number-2/

In [1]:
N=5

In [2]:
i=1

In [3]:
al=[]
ltemp=[]
def allcomb(N,i,l):
    if N==0:
        al.append(l)
        return
    elif i>N:
        return
    ltemp=l[:]
    ltemp.append(i)
    allcomb(N-i,i+1,ltemp)
    allcomb(N-i,i,ltemp)
    allcomb(N,i+1,l)

In [4]:
allcomb(N,1,[])

In [6]:
al

[[1, 2, 2],
 [1, 2, 2],
 [1, 4],
 [1, 4],
 [1, 1, 3],
 [1, 1, 3],
 [1, 1, 1, 2],
 [1, 1, 1, 2],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 2],
 [1, 1, 1, 2],
 [1, 1, 3],
 [1, 1, 3],
 [1, 2, 2],
 [1, 2, 2],
 [1, 4],
 [1, 4],
 [2, 3],
 [2, 3],
 [2, 3],
 [2, 3],
 [5],
 [5]]

In [11]:
d={}
for i in al:
    if str(i) not in d:
        d[str(i)]=str(i)
    else:
        continue

In [12]:
d

{'[1, 2, 2]': '[1, 2, 2]',
 '[1, 4]': '[1, 4]',
 '[1, 1, 3]': '[1, 1, 3]',
 '[1, 1, 1, 2]': '[1, 1, 1, 2]',
 '[1, 1, 1, 1, 1]': '[1, 1, 1, 1, 1]',
 '[2, 3]': '[2, 3]',
 '[5]': '[5]'}

In [13]:
for i in d:
    print(i)

[1, 2, 2]
[1, 4]
[1, 1, 3]
[1, 1, 1, 2]
[1, 1, 1, 1, 1]
[2, 3]
[5]